<link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Lato" rel="stylesheet">
<!--************************************-->
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a style="color:black; font-size:25px;" class="navbar-brand" href="#andrewirwanto"><b>Andrew</b> Irwanto</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a href="#about">about <span class="sr-only">(current)</span></a></li>
        <li><a href="#portfolio">portfolio</a></li>
        <li><a href="#contact">contact</a></li>
      </ul>
    </div>
  </div><!-- /.container-fluid -->
</nav>
<!--************************************-->
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="jumbotron" id="andrewirwanto">
        <br><br><br><br><br><br><br><br><br><br><br><br>
        <h1><b>Andrew</b> Irwanto</h1>
        <br>
        <h3>Web Developer - Graphic Artist - Pianist</h3>
        <br><br><br><br><br><br>
      </div>
      <div class="jumbotron" id="about">
        <div class="container">
          <div class="row">
            <div class="col-xs-8">
              <h2>about</h2>
              <p>The name's Andrew Irwanto, currently a Mechanical Engineering year 1 undergraduate at NUS. My birthday is on 22 January 1998. I am an Indonesian and I love playing the piano, drawing, travelling, as learning new things has always been my passion. <p>
              <h1 style="font-family: Monospace !important;">&nbsp&nbsp———————————&nbsp&lt/></h1>
            </div>
            <div class="col-xs-4">
              <img src="images/Pass Photo.jpg" alt="handsome me" class="img-thumbnail">
            </div>
          </div>
        </div>
      </div>
      <div class="jumbotron" id="portfolio">
        <h2>portfolio</h2>
        <p>I am alumni of SD Sutomo I (Medan, North Sumatra, Indonesia), Macpherson Secondary School (Singapore), and Tampines Junior College (Singapore).</p>
        <p>Programming is one of my pasttimes. I have learnt HTML, C, JavaScript, Python, NodeJS, and currently learning Swift, Coffee, Java, and PHP. I also have basic knowledge on database and server management, and I am able to create a restricted access website with database of users and salted hashes for password storage.</p>
        <p>One of the web developmet project I have worked on is <a href="http://th3wall.herokuapp.com/" target="_blank">The Wall</a>, a prototype of a social media, albeit with limited functions. It uses MongoDB as its database, and some of the functions include creation of new user, editing the use, deleting the user, posting on the wall (works the same way as facebook), and searching for other users. Users are able to add and change their profile picture and also their biography, and also delete their posts if they so wish.Its source code is available on GitHub.</p>
      </div>
      <div class="jumbotron" id="contact">
        <h2>contact</h2>
        <p>To reach me, message me on +65 8777-0364 or email to <a href="http://mail.google.com" target="_blank">irwantoandrew@gmail.com</a>. Instagram and Telegram username is @andrewwleeee.</p>
      </div>
      <p class="text-center" style="color: gray;">Written and coded by Andrew @2016</p>
    </div>
  </div>
</div>
